# Лаба 1: внешние библиотеки не нужны.

# Лаба 2: работа с wav, спектральный анализ, графики.
numpy>=1.26
scipy>=1.11
matplotlib>=3.8

# Лаба 3: стеганография, работа с изображениями.
Pillow>=10.0

# Лаба 4: Telegram-бот.
python-telegram-bot>=21.0
requests>=2.31
python-dotenv>=1.0

